assets/data/fireplace_sleep_timer.json
[
  {
    "id": "164be20bc7cc7859",
    "type": "server-events",
    "z": "638aa4565f963e7b",
    "name": "Timer Started",
    "server": "",
    "version": 1,
    "event_type": "timer.started",
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "x": 110,
    "y": 500,
    "wires": [
      [
        "025c9bd5bcf26c1b"
      ]
    ]
  },
  {
    "id": "025c9bd5bcf26c1b",
    "type": "switch",
    "z": "638aa4565f963e7b",
    "name": "Fireplace Sleep Timer?",
    "property": "payload.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "timer.fireplace_sleep_timer",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 350,
    "y": 500,
    "wires": [
      [
        "cf44df1cd6be9106"
      ]
    ]
  },
  {
    "id": "1ee9ee24c8bfb0a2",
    "type": "switch",
    "z": "638aa4565f963e7b",
    "name": "Fireplace Sleep Timer?",
    "property": "payload.entity_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "timer.fireplace_sleep_timer",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 350,
    "y": 620,
    "wires": [
      [
        "61ef463e58f89f05"
      ]
    ]
  },
  {
    "id": "9995047495ced0f9",
    "type": "server-events",
    "z": "638aa4565f963e7b",
    "name": "Timer Finished",
    "server": "",
    "version": 1,
    "event_type": "timer.finished",
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "x": 120,
    "y": 620,
    "wires": [
      [
        "1ee9ee24c8bfb0a2"
      ]
    ]
  },
  {
    "id": "61ef463e58f89f05",
    "type": "api-call-service",
    "z": "638aa4565f963e7b",
    "name": "Turn Off Fireplace",
    "server": "",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.enable_fireplace",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 590,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "cf44df1cd6be9106",
    "type": "api-call-service",
    "z": "638aa4565f963e7b",
    "name": "Turn On Fireplace",
    "server": "",
    "version": 3,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_on",
    "entityId": "input_boolean.enable_fireplace",
    "data": "",
    "dataType": "jsonata",
    "mergecontext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 590,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "a92db0f97e710a8d",
    "type": "comment",
    "z": "638aa4565f963e7b",
    "name": "Fireplace Sleep Timer",
    "info": "",
    "x": 140,
    "y": 440,
    "wires": []
  },
  {
    "id": "0e63b47d73abe904",
    "type": "server-events",
    "z": "638aa4565f963e7b",
    "name": "Timer restarted",
    "server": "",
    "version": 1,
    "event_type": "timer.restarted",
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "waitForRunning": true,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "eventData"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "$outputData(\"eventData\").event_type",
        "valueType": "jsonata"
      }
    ],
    "x": 120,
    "y": 560,
    "wires": [
      [
        "025c9bd5bcf26c1b"
      ]
    ]
  }
]